:root {
  --bg-color-base : aliceblue;
  --bg-color-outside : black; 
  --accent-color-main : rgb(245, 245, 69);
  --accent-color-secundary: rgb(57, 182, 224);
  --accent-color-terciary: rgb(177, 177, 243);
  --accent-color-quaternary: rgb(156, 156, 240);
  --accent-color-weakmain: rgb(241, 241, 221);
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.10em solid var(--bg-color-outside);
  border-radius: 50%;
  transform: translateY(0.18em);
}

input[type="checkbox"]:checked {
  box-shadow: inset 0 0 0.45em var(--accent-color-secundary);
  transform: translateY(0.25em);
}

p {
  padding: 0px;
  margin: 0px;
  color: var(--bg-color-outside);
}

body {
  background-color: var(--bg-color-outside);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  overflow: auto;
}

.base {
  margin: auto;
  width: 90vw;
  height: 90vh;
  background-color: var(--bg-color-base);
}

.outside-button {
  margin: 0px 0px 15px 10px;
  height: 25px;
  color: var(--bg-color-outside);
  background-color: var(--bg-color-base);
  border: none;
  border-radius: 5px;
}

.header {
  background-color: var(--accent-color-secundary);
  padding: 5px 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.span-line {
  grid-column-start: 2;
  grid-column-end: 7;
  background-color: var(--accent-color-secundary);
  border-radius: 15px;
  margin-bottom: 5px;
}

.header-text {
  display: inline;
  padding: 0;
  margin: 0;
}

.header-left-arrow-icon {
  width: 25px;
  padding-right: 150px;
}

.header-left-arrow-button {
  background-color: transparent;
  border: none;
}

.long-description {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.long-competences {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.inside-body-formulary {
  margin-left: 15px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 28% 14% 10% 10% 14.3% 13%;
  grid-template-rows: 25% 25% 1% 15% 31% 15%;
  column-gap: 2%;
  max-height: 71vh;
}

.agent-selection p {
  padding: 13px 0px 5px 5px;
  margin: 0px 10px ;
  margin-bottom: 2px;
  
}

.agent-selection {
  background-color: var(--accent-color-quaternary);
  border-radius: 0px 0px 15px 15px;
  overflow: hidden scroll;
  max-height: 71vh;
}

.agent-selection-header {
  grid-row-start: 1;
  grid-row-end: 10;
  max-height: 73vh;
  border-radius: 15px;
  background-color: var(--accent-color-main);
}

.agent-selection-header-title {
  padding-left: 13px;
  font-weight: 750;
  font-size: 25px;
}

.input-formulary-title,
.input-formulary-single {
  background-color: var(--accent-color-main);
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 2px;
}

.input-formulary-single {
  border-radius: 15px ;
  align-items: center;
}

.input-formulary-title-text,
.input-formulary-single-text,
.formulary-description-title {
  padding-left: 7px;
  font-size: 20px;
}

.input-formulary-single-text {
  font-size: 16px;
  display: inline;
}

.input-formulary-checkbox {
  background-color: var(--bg-color-base);
  vertical-align: middle;
}

.single-line-options{
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.agent-name-input,
.input-text-long,
.formulary-description-text,
.formulary-competences-text {
  width: max-content;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid var(--bg-color-outside);
  width: 97%;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  color: var(--bg-color-outside);
  background-color: var(--accent-color-weakmain);
}

.formulary-description-text,
.formulary-competences-text {
  position: relative;
  width: 98.9%;
  height: 300px;
  padding-left: 5px;
  font-weight: 500;
  overflow-y: scroll;
  text-wrap:pretty;
}

.input-text-long {
  height: 100px;
  position: relative;
  width: 99.2%;
  font-weight: 200;
}

.long-text {
  grid-column-start: 3;
  grid-column-end: 7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-base);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color-main);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-terciary);
  border-radius: 10px;
}

.formulary-item {
  margin: 0px 10px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  border-bottom: 2px solid var(--accent-color-terciary);
  border-radius: 5px;
}

.formulary-right-icon {
  width: 15px;
  vertical-align: middle;
}

.first-title {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent-color-secundary);
  display: inline;
}

.dropdown-selection {
  position: relative;
  min-width: 98%;
}

.dropdown-container {
  display: grid;
  grid-template-columns: minmax(75px, 85%) minmax(20px, 15%);
  align-items: center;
  background-color: var(--accent-color-weakmain);
  border: 1px solid var(--bg-color-outside);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  text-wrap: nowrap;
}

.dropdown-button {
  color: transparent;
  border: none;
  height: 27px;
}

.dropdown-button:hover {
  background-color: var(--accent-color-secundary);
  animation-name: changeButtonColor;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 500ms;
}

.dropdown-item-text {
  padding: 3px 0px 3px 15px ;
}

.dropdown-content-holder{
  display: none;
  position: absolute;
  width: fit-content;
  box-shadow: 0px 18px 16px 0px gray;
  min-width: inherit;
  
}

.dropdown-option {
  padding: 3px 5px;
}

@keyframes changeButtonColor {
  from {background-color: transparent;}
  to {background-color: var(--accent-color-secundary);}
}

.dropdown-option:hover {
  background-color: var(--accent-color-secundary);
  animation-name: changeButtonColor;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 500ms;
}

.dropdown-down-arrow {
  width: 13px;
}

.input-date-selection {
  font-size: 15px;
  padding: 3px 11px;
  min-width: 88%;
  position: relative;
  border: 1px solid var(--bg-color-outside);
  border-radius: 0px 0px 5px 5px;
  background-color: var(--accent-color-weakmain);
  font-weight: 600;
  color: var(--bg-color-outside);
  text-transform: uppercase;
}

.button-regular {
  border: none;
  border-radius: 15px;
  height: 55px;
}

.button-regular:focus {
  border: 2px solid var(--bg-color-base);
  outline: 2px solid var(--bg-color-base);
  outline-offset: -5px;
}

.button-type-one {
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: var(--accent-color-main);
}

@keyframes buttonPress-typeOne {
  from {background-color: var(--accent-color-main);}
  to {background-color: var(--accent-color-weakmain);}
}


.button-type-one:focus {
  background-color: var(--accent-color-main);
  animation-name: buttonPress-typeOne;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button-type-two {
  background-color: var(--accent-color-secundary);
}

@keyframes buttonPress-typeTwo {
  from {background-color: var(--accent-color-secundary);}
  to {background-color: var(--accent-color-terciary);}
}

.button-type-two:focus {
  background-color: var(--accent-color-secundary);
  animation-name: buttonPress-typeTwo;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}